@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
 body{font-family: 'Libre Baskerville', serif;}
 body:not(#slider){background-color: #000;}

#wrap{width: 100%; height: auto; display: flex; flex-direction: column; align-items: center; color: #fff;}

h2{font-size: 61px;}

/*button*/
.btn1{width: 240px; height: 60px;}
.btn2{width: 300px; height: 60px;}
.btn4{width: 120px; height: 120px; border-radius: 100%;}

/* header */
header{width: 1500px; height: 180px; position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: 1; display: flex; align-items: center; justify-content: space-between;}

header .menu{width:150px; height: 30px; display: flex; flex-direction: row; justify-content: space-between;align-items: center; font-size: 24.2px;}
header .menu>.mm{width: 30px; display: flex; flex-direction: column; align-items: center;}
header .menu p{width: 90px; height: 30px;}
header nav{display: none;}
.hm .line{
  width: 30px;
  height: 6px;
  background-color: #fff;
  display: block;
  margin: 2px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hm:hover{
  cursor: pointer;
}

#mm.is-active .line:nth-child(1),
#mm.is-active .line:nth-child(3){
  width: 15px;
}

#mm.is-active .line:nth-child(1){
  -webkit-transform: translateX(-10px) rotate(-45deg);
  -ms-transform: translateX(-10px) rotate(-45deg);
  -o-transform: translateX(-10px) rotate(-45deg);
  transform: translateX(-10px) rotate(-45deg);
}

#mm.is-active .line:nth-child(3){
  -webkit-transform: translateX(-10px) rotate(45deg);
  -ms-transform: translateX(-10px) rotate(45deg);
  -o-transform: translateX(-10px) rotate(45deg);
  transform: translateX(-10px) rotate(45deg);
}

header .logo1{width: 300px; height: 60px;}
header .logo1>img{width: 100%; height: 100%;}
header .reserve{width: 150px; height: 30px; font-size: 24.2px;}

/* slider */
#slider{width: 100%; height: 960px; position: relative; overflow: hidden;}
#slider .tbox1{width: 1500px; height: 300px; position: absolute;  top: 420px; left: 50%; transform: translateX(-50%); display: flex; flex-direction: column; justify-content: space-between;}
#slider .tbox1 h1{width: 615px; height: 240px; font-size: 90px; text-align: right; font-family: 'Playfair Display', serif; z-index: 1;}
#slider .tbox1 h1>span{font-size: 60px;}
#slider .tbox1 p{width: 615px; height: 30px; font-size: 24.2px; text-align: right; font-style: italic;}
#slider video{position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: -1; size: cover;}

/* section */
#section{width: 100%; height: auto;  display: flex; flex-direction: column; align-items: center;}

/* sc1 */
#section .sc1{width: 1500px; height: 1200px; position: relative; padding: 120px 0; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}

#section .sc1 ::after{content: ''; width: 1500px; height: 2px; background-color: #aaa;position: absolute; left: 0; bottom: 0;}

#section .sc1>.tbox2{width: 1200px; height: 240px; font-size: 48px; text-align: center; font-style: italic;}
#section .sc1>.mbox1{width: 1500px; height: 600px; display: flex; justify-content: space-between;}

#section .sc1>.mbox1>.b1{width: 465px; height: 600px; display: flex; flex-direction: column; justify-content: space-between;}

#section .sc1>.mbox1>.b1>.m1{width: 465px; height:510px; background-color:lightcyan;}

#section .sc1>.mbox1>.b1>.m1 img{width: 100%; height: 100%;}

#section .sc1>.mbox1>.b1 p{height: 45px; font-size: 36px; font-style: italic; display: flex; align-items:center; justify-content: flex-start;}
#section .sc1>.mbox1>.b1 p::before{content: ''; width: 90px; height: 2px; background-color: #fff; margin-right: 30px; opacity: 1;}

/* sc2 */
#section .sc2{width: 1500px; height: 1200px; display: flex; align-items: center; justify-content: space-between;}

#section .sc2>.tbox3{width: 480px; height: 480px; display: flex; flex-direction: column; align-items: center; background-color: #aaa;}
#section .sc2>.tbox3 h2{width: 480px; margin-bottom: 60px;}
#section .sc2>.tbox3 p{width: 480px; height: 180px; font-size: 24.2px; margin-bottom: 30px;} 
#section .sc2>.m2{width: 360px; height:540px; background-color: lightcyan;}
#section .sc2>.m3{width: 540px; height: 720px; background-color: lightcyan;}
#section .sc2>.m3 img{width: 100%; height: 100%;}

/* sc3 */
#section .sc3{width: 100%; height: 600px; display: flex; justify-content: center;; background-color: skyblue;}
#section .sc3>.tbox4{width: 1500px; height:600px; padding: 120px 0; display: flex; flex-direction: column; align-items: center; background-color: #aaa;}
#section .sc3>.tbox4 h2{height: 150px; text-align: center; margin-bottom: 60px;}
#section .sc3>.tbox4 p{width: 1200px; height: 60px; font-size: 24.2px; margin-bottom: 30px;}
/*sc4*/
#section .sc4{width: 1500px; height: 1350px; padding: 135px 0; display: flex; flex-direction: column; justify-content: space-between; background-color: blue;}
#section .sc4>.tbox5{width: 1500px; height: 180px; display: flex; justify-content: space-between; align-items: center;}
#section .sc4>.tbox5 h2{width: 600px; height: 180px; background-color: #aaa;}
#section .sc4>.mbox2{width: 1500px; height: 810px; display: flex; justify-content: space-between; background-color: aquamarine;}
#section .sc4>.mbox2>.b2{width: 720px; height: 810px; display: flex; flex-direction: column; justify-content: space-between; background-color: cadetblue;}
#section .sc4>.mbox2>.b2>.m4{width: 720px; height: 720px; background-color:  lightcyan;}
#section .sc4>.mbox2>.b2 p{height: 45px; font-size: 36px; font-style: italic; display: flex; align-items:center; justify-content: flex-start;}
#section .sc4>.mbox2>.b2 p::before{content: ''; width: 90px; height: 2px; background-color: #fff; margin-right: 30px; opacity: 1;}

/*sc5*/
#section .sc5{width: 100%; height: 960px; background-color: violet;}

/*sc6*/
#section .sc6{width: 1500px; height: 3000px; padding: 135px 0; display: flex; flex-direction: column; background-color: purple;}
#section .sc6>.tbox6{width: 1500px; height: 180px; display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 90px; background-color: #aaa;}
#section .sc6>.tbox6 h2{height: 90px;}
#section .sc6>.tbox6 p{height: 30px;}
#section .sc6>.mbox3{width: 1500px; height: 780px; display: flex; justify-content: space-between; background-color: lightpink;}
#section .sc6>.mbox3:not(:last-child){margin-bottom: 60px;}
#section .sc6>.mbox3>.m5{width: 900px;height: 780px; background-color: lightcyan;}
#section .sc6>.mbox3>.tbox7{width: 540px; height:780px; background-color: #aaa;}

/*sc7*/
#section .sc7{width: 100%; height: 1500px; display: flex; justify-content: center; background-color: pink;}
#section .sc7>.mbox4{width: 1500px; height: 1500px; padding: 135px 0; display: flex; flex-direction: column; align-items: center; background-color: darkred;}
#section .sc7>.mbox4 h2{width: 1500px; height: 90px; margin-bottom: 90px; background-color: #aaa;}
#section .sc7>.mbox4>.mbox5{width: 1500px; height: 960px; margin-bottom: 45px; display: flex; justify-content: space-between; background-color: darkorange;}
#section .sc7>.mbox4>.mbox5>.b3{width: 465px; height: 960px; background-color: chocolate;}
#section .sc7>.mbox4>.mbox5>.b3>.m6{width: 465px; height: 510px; margin-bottom: 30px; background-color: lightcyan;}
#section .sc7>.mbox4>.mbox5>.b3>.st{height: 30px; font-size: 24px; margin-bottom: 60px;}
#section .sc7>.mbox4>.mbox5>.b3>.mt{height: 120px; font-size: 60px; margin-bottom: 90px;}
#section .sc7>.mbox4>.mbox5>.b3>.s{height: 120px; font-size: 24px;}

/*sc8*/
#section .sc8{width: 1500px; height: 1200px; padding: 135px 0; display: flex; flex-direction: column; justify-content: space-between; align-items: center; background-color: aqua;}
#section .sc8>.tbox8{width: 1200px; height: 600px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; background-color: #aaa;}
#section .sc8>.tbox8>.m7{width: 150px; height: 150px; border-radius: 100%; background-color: lightcyan;}
#section .sc8>.tbox8>h2{height: 180px;}
#section .sc8>.tbox8>p{height: 90px; font-size: 24px;}
#section .sc8>.mbox6{width: 1500px; height: 270px; display: flex; align-items: flex-end; justify-content: space-between;}
#section .sc8>.mbox6>.b4{width: 270px; height: 270px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; background-color: blue;}
#section .sc8>.mbox6>.b4>.m8{width: 150px; height: 150px; border-radius: 100%; background-color: lightcyan;}
#section .sc8>.mbox6>.b4>.tbox9{width: 270px; height: 90px; background-color: #aaa;}

/*footer*/
footer{width: 100%; height: 960px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; background-color: #444;}

/*footer massage*/
footer .mbox7{width: 1500px;height: 720px; padding: 135px 0; display: flex; flex-direction: column; align-items: center; justify-content: space-between;position: relative; background-color: #ddd;}
footer .mbox7 ::after{content: ''; width: 1500px; height: 2px; background-color: #aaa;position: absolute; left: 0; bottom: 0;}
footer .mbox7>.tbox10{width: 1200px; height: 180px; background-color: #aaa;}
footer .mbox7 form{width: 1200px; height: 225px; display: flex; align-items: center; flex-direction: column; justify-content: space-between; background-color: #aaa;}
footer .mbox7 form>.b5{display: flex; justify-content: space-between; width: 1200px; height: 135px;}
footer .mbox7 form>.b5>.tbox11{width: 210px; height: 135px; display: flex; flex-direction: column; justify-content: space-between;}
footer .mbox7 form>.b5>.tbox11>.na input{height: 45px; width: 150px;}
footer .mbox7 form>.b5>.tbox11>.pw input{height: 45px; width: 150px;}
footer .mbox7>form>.b5>.tbox11>.na{ height: 45px; width: 210px; display: flex; align-items: center; justify-content: space-between;} 
footer .mbox7>form>.b5>.tbox11>.pw{height: 45px; width: 210px; display: flex; align-items: center; justify-content: space-between;}
footer .mbox7 form>.b5 textarea{width: 945px; height: 135px; resize: none;}

/*footer info*/
footer .mbox8{width: 1500px; height: 240px; padding: 30px 0; display: flex; flex-direction: column; align-items: center; justify-content: space-between; background-color: #ccc;}
footer .mbox8>.logo2{width: 450px; height: 120px; background-color: navy;}
footer .mbox8>ul{width: 540px; height: 30px; background-color: navy;}